.loading {
  display: grid;
  place-items: center;
  height: 100%;
}

.memo-game {
  margin-block: auto;
}

.title {
  font-size: 2em;
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
  perspective: 1000px;
}

.footer {
  margin-top: 3rem;
  text-align: center;
}

.counters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding-block: 2rem;
  font-size: 1.5rem;
}

